 body.dark_mode {
    background-color: #1a1a1a;
    color: #ffffff;
  }
  
.dark_mode>main>section>ul>li>a{
    color: white;
}
.dark_mode h1{
  color: #ffffff;
  font-weight: bold;
}
.grid{
  color: #1a1a1a;
}

.dark_mode>main>section>ul>li:hover {
  border-bottom: 2px solid white;
  font-weight: bold; 
  color: white;
  cursor: pointer;
}

/* .dark_mode>main>section>ul>li{
  border-bottom: 2px solid gray;
  color: gray;
} */

.dark_mode>header>div>button{
  background-color: white;
  color: #306BB3;
}

.dark_mode .active{
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.dark_mode .inactive {
  color: rgb(169, 165, 165);
  border-bottom: 1px solid ;
  font-weight:normal;
  width: 100%;
}

.colortitle{
  color: white;
}

